<h3>Email: {{email}}</h3>
<h3>First Name: {{firstName}}</h3>
<h3>Middle Name: {{middleName}}</h3>
<h3>Last Name: {{lastName}}</h3>
<h3>Title: {{title}}</h3>
<h3>Location: {{location}}</h3>
<h3>UrlPic: {{urlPic}}</h3> <a href = {{urlPic}}><img src={{urlPic}} alt={{urlPic}} width=200 /> </a>
<h3>Project 1 Name: {{Project1Name}}</h3>
<h3>Project 1 Description: {{Project1Description}}</h3>
<h3>Project 1 URL: {{Project1URL}}</h3>
<h3>Project 1 Image: {{Project1Img}}</h3>
<h3>Project 2 Name:{{Project2Name}}</h3>
<h3>Project 2 Description: {{Project2Description}}</h3>
<h3>Project 2 URL: {{Project2URL}}</h3>
<h3>Project 2 Image: {{Project2Img}}</h3>
<h3>Project 3 Name: {{Project3Name}}</h3>
<h3>Project 3 Description: {{Project3Description}}</h3>
<h3>Project 3 URL: {{Project3URL}}</h3>
<h3>Project 3 Image: {{Project3Img}}</h3>
<h3>Project 4 Name: {{Project4Name}}</h3>
<h3>Project 4 Description: {{Project4Description}}</h3>
<h3>Project 4 URL: {{Project4URL}}</h3>
<h3>Project 4 Image: {{Project4Img}}</h3>
<a href="/profiles" class="btn btn-secondary">&larr; Back</a>
